---
import Button from "./Button.astro";
import GoBack from "./GoBack.astro";
import QuantitySelector from "../../components/shared/QuantitySelector.astro";
import { formatter } from "../../utils/formatter.ts";
const price = 1999;
---

<div class="padding">
  <GoBack href="/headphones" />
  <section class="w-100 flex just-s-b">
    <div class="flex just-c align-c border-r-8 bg-s-g">
      <img
        src="/src/assets/products/headphones/xx99-m2-main.jpg"
        alt="product-image"
        class="product-image border-r-8"
      />
    </div>
    <article class="flex flex-d-c just-c">
      <h2 class="new-product color-c font-s-14 font-ls-10">NEW PRODUCT</h2>
      <h2
        class="product-title color-b font-s-40 bold font-lh-44 font-ls-1429 m-t-16"
      >
        XX99 MARK II HEADPHONES
      </h2>
      <p class="description color-b font-s-15 font-lh-25 m-t-32">
        The new XX99 Mark II headphones is the pinnacle of pristine audio. It
        redefines your premium headphone experience by reproducing the balanced
        depth and precision of studio-quality sound.
      </p>
      <p class="price m-t-32 color-b font-s-18 bold">
        {formatter.format(price)}
      </p>
      <div class="product-buttons flex">
        <QuantitySelector />
        <Button background="bg-c category-product-button" text="SEE PRODUCT" />
      </div>
    </article>
  </section>
</div>

<style>
  .padding {
    padding-top: 79px;
  }
  section {
    margin-top: 56px;
    height: 56rem;
  }
  section > div:nth-of-type(1) {
    width: 49.09%;
  }
  article {
    width: 40.45%;
  }
  .description {
    opacity: 0.5;
  }

  .price {
    letter-spacing: 1.286px;
  }

  .product-buttons {
    margin-top: 47px;
    gap: 16px;
  }

  /* Tablet */
  @media (max-width: 58.25rem) {
    .padding {
      padding-top: 120px;
    }
    section {
      flex-direction: column;
      height: 100%;
      gap: 52px;
    }
    section > div:nth-of-type(1) {
      justify-content: center;
      align-items: center;
      display: flex;
      height: 35.2rem;
      width: 100%;
    }

    .product-image {
      max-height: 100%;
      max-width: 100%;
      width: 22rem;
      position: static;
      transform: none;
    }

    article {
      text-align: center;
      align-items: center;
      width: 100%;
      height: 30.2rem;
    }
  }

  /* Mobile */
  @media (max-width: 30rem) {
    .padding {
      padding-top: 64px;
    }

    section {
      gap: 32px;
    }

    article {
      height: 100%;
    }

    .product-title {
      margin-top: 24px;
      font-size: 2.8rem;
      line-height: normal;
      letter-spacing: 1px;
    }
    .description {
      margin-top: 24px;
    }
  }
</style>

<style is:global>
  .category-product-button {
    max-width: 16rem;
  }

  /* Tablet */

  @media (max-width: 58.25rem) {
    .category-product-button {
    }
  }
</style>
