<section class="flex just-s-b">
  <article>
    <h3 class="color-b font-s-32 bold font-lh-36">FEATURES</h3>
    <p class="m-t-32 color-b font-s-15 font-lh-25">
      Featuring a genuine leather head strap and premium earcups, these
      headphones deliver superior comfort for those who like to enjoy endless
      listening. It includes intuitive controls designed for any situation.
      Whether you’re taking a business call or just in your own personal space,
      the auto on/off and pause features ensure that you’ll never miss a beat.
      <br />
      <br />
      The advanced Active Noise Cancellation with built-in equalizer allow you to
      experience your audio world on your terms. It lets you enjoy your audio in
      peace, but quickly interact with your surroundings when you need to. Combined
      with Bluetooth 5. 0 compliant connectivity and 17 hour battery life, the XX99
      Mark II headphones gives you superior sound, cutting-edge technology, and a
      modern design aesthetic.
    </p>
  </article>
  <article>
    <h3 class="color-b font-s-32 bold font-lh-36">IN THE BOX</h3>
    <ul class="flex flex-d-c m-t-32">
      <li class="flex">
        <p class="color-c bold font-s-15 font-lh-25">1x</p>
        <p class="color-b font-s-15 font-lh-25">Headphone Unit</p>
      </li>
      <li class="flex">
        <p class="color-c bold font-s-15 font-lh-25">2x</p>
        <p class="color-b font-s-15 font-lh-25">Replacement Earcups</p>
      </li>
      <li class="flex">
        <p class="color-c bold font-s-15 font-lh-25">1x</p>
        <p class="color-b font-s-15 font-lh-25">User Manual</p>
      </li>
      <li class="flex">
        <p class="color-c bold font-s-15 font-lh-25">1x</p>
        <p class="color-b font-s-15 font-lh-25">3.5mm 5m Audio Cable</p>
      </li>
      <li class="flex">
        <p class="color-c bold font-s-15 font-lh-25">1x</p>
        <p class="color-b font-s-15 font-lh-25">Travel Bag</p>
      </li>
    </ul>
  </article>
</section>

<style>
  section {
    margin-top: 160px;
  }
  article:nth-of-type(1) {
    width: 57.73%;
  }
  article:nth-of-type(2) {
    width: 31.82%;
  }
  h3 {
    letter-spacing: 1.143px;
  }
  ul {
    gap: 8px;
  }
  li {
    gap: 24px;
  }
  article > p,
  li > p:nth-of-type(2) {
    opacity: 0.5;
  }

  /* Tablet */
  @media (max-width: 58.25rem) {
    section {
      margin-top: 120px;
      flex-direction: column;
      gap: 120px;
    }

    article:nth-of-type(1) {
      width: 100%;
    }

    article:nth-of-type(2) {
      width: 100%;
      display: flex;
    }

    article:nth-of-type(2) > h3,
    article:nth-of-type(2) > ul {
      width: 100%;
    }
    ul {
      margin-top: 0px;
    }
  }
</style>
