---
import type { Product } from "../../types/interface/product";

interface Props {
  product: Product;
}

const { product } = Astro.props;
---

<section class="flex just-s-b">
  <article>
    <h3 class="color-b font-s-32 bold font-lh-36">FEATURES</h3>
    <p class="m-t-32 color-b font-s-15 font-lh-25">
      {product.features}
    </p>
  </article>
  <article>
    <h3 class="color-b font-s-32 bold font-lh-36">IN THE BOX</h3>
    <ul class="flex flex-d-c m-t-32">
      {
        product.boxItems.map((boxItem) => (
          <li class="flex">
            <p class="color-c bold font-s-15 font-lh-25">{boxItem.quantity}x</p>
            <p class="color-b font-s-15 font-lh-25">{boxItem.item}</p>
          </li>
        ))
      }
    </ul>
  </article>
</section>

<style>
  section {
    margin-top: 160px;
  }
  article:nth-of-type(1) {
    width: 57.73%;
  }
  article:nth-of-type(2) {
    width: 31.82%;
  }
  h3 {
    letter-spacing: 1.143px;
  }
  ul {
    gap: 8px;
  }
  li {
    gap: 24px;
  }
  article > p,
  li > p:nth-of-type(2) {
    opacity: 0.5;
  }

  /* Tablet */
  @media (max-width: 58.25rem) {
    section {
      margin-top: 120px;
      flex-direction: column;
      gap: 120px;
    }

    article:nth-of-type(1) {
      width: 100%;
    }

    article:nth-of-type(2) {
      width: 100%;
      display: flex;
    }

    article:nth-of-type(2) > h3,
    article:nth-of-type(2) > ul {
      width: 100%;
    }
    ul {
      margin-top: 0px;
    }
  }

  /* Mobile */
  @media (max-width: 30rem) {
    section {
      margin-top: 88px;
      gap: 113px;
    }

    h3 {
      font-size: 2.4rem;
      letter-spacing: 0.857px;
    }

    section > article:nth-of-type(1) > p {
      margin-top: 24px;
    }

    section > article:nth-of-type(2) {
      flex-direction: column;
      gap: 24px;
    }

    li {
      gap: 21px;
    }
  }
</style>
