---
import { formatter } from "../../utils/formatter.ts";
import type { Product } from "../../types/interface/product";
import type { Category } from "../../types/enums/Category";
import Button from "../shared/Button.astro";
import GoBack from "../shared/GoBack.astro";
import { getBaseUrl } from "../../utils/getBaseURL";
import QuantitySelector from "./QuantitySelector.astro";

interface Props {
  product: Product;
  category: Category;
}

const { product, category } = Astro.props;
---

<div class="padding">
  <GoBack href={`/${category}`} />
  <section class="w-100 flex just-s-b">
    <div class="flex just-c align-c border-r-8 bg-s-g">
      <img
        src={getBaseUrl() + product.mainImage.url}
        alt="product-image"
        class="product-image border-r-8"
      />
    </div>
    <article class="flex flex-d-c just-c">
      {
        product.new && (
          <h2 class="new-product color-c font-s-14 font-ls-10">NEW PRODUCT</h2>
        )
      }
      <h2
        class="product-title color-b font-s-40 bold font-lh-44 font-ls-1429 m-t-16"
      >
        {product.name.toUpperCase()}
      </h2>
      <p class="description color-b font-s-15 font-lh-25 m-t-32">
        {product.description}
      </p>
      <p class="price m-t-32 color-b font-s-18 bold">
        {formatter.format(product.price)}
      </p>
      <div class="product-buttons flex">
        <QuantitySelector />
        <Button background="bg-c product-card-button" text="ADD TO CART" />
      </div>
    </article>
  </section>
</div>

<style>
  .padding {
    padding-top: 79px;
  }
  section {
    margin-top: 56px;
    height: 56rem;
  }
  section > div:nth-of-type(1) {
    width: 49.09%;
  }
  article {
    width: 40.45%;
  }
  .description {
    opacity: 0.5;
  }

  .price {
    letter-spacing: 1.286px;
  }

  .product-buttons {
    margin-top: 47px;
    gap: 16px;
  }

  /* Tablet */
  @media (max-width: 58.25rem) {
    .padding {
      padding-top: 33px;
    }
    section {
      margin-top: 24px;
      gap: 0px;
      justify-content: space-between;
      height: 48rem;
    }
    section > div:nth-of-type(1) {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 40.71%;
    }
    article {
      width: 49.24%;
    }

    .new-product {
      font-size: 1.2rem;
      letter-spacing: 8.571px;
    }

    .product-title {
      font-size: 2.8rem;
      line-height: 3.2rem;
      letter-spacing: 1px;
    }

    .product-buttons {
      margin-top: 31px;
    }
  }

  /* Mobile */
  @media (max-width: 30rem) {
    .padding {
      padding-top: 16px;
    }

    section {
      flex-direction: column;
      height: 100%;
      gap: 32px;
    }

    section > div:nth-of-type(1) {
      width: 100%;
    }

    article {
      width: 100%;
    }

    .new-product {
      font-size: 1.4rem;
      letter-spacing: 10px;
    }

    .product-title {
      line-height: normal;
    }

    .description,
    .price,
    .product-title {
      margin-top: 24px;
    }
  }
</style>

<style is:global>
  .product-card-button {
    max-width: 16rem;
    flex-shrink: 0;
  }

  /* Tablet */

  @media (max-width: 58.25rem) {
    .product-card-button {
    }
  }
</style>
