---
import Button from "../shared/Button.astro";
import { Image } from "astro:assets";
import headphones from "../../assets/home/headphones.svg";
---

<section class="flex fade-in">
  <article class="color-p-w">
    <h1 class="font-s-14 font-ls-10">New Product</h1>
    <h2 class="font-s-56 bold font-lh-58 font-ls-2 m-t-24">
      XX99 MARK II HEADPHONES
    </h2>
    <p class="font-s-15 font-lh-25 m-t-24">
      Experience natural, lifelike audio and exceptional build quality made for
      the passionate music enthusiast.
    </p>
    <Button background="hero-button bg-c" text="SEE PRODUCT" />
  </article>
  <div></div>
</section>

<style>
  section {
    height: calc(100vh - 96px);
    min-height: 643px;
  }
  .hero-image {
    height: 100%;
  }
  h1 {
    opacity: 0.4964;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p {
    opacity: 0.75;
  }
  div {
    width: 100%;
    background-image: url("/src/assets/home/headphones.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Navbar change */
  @media (max-width: 58.25rem) {
    section {
      height: calc(100dvh - 90px);
    }
  }

  /* Tablet */

  @media (max-width: 72rem) {
    section {
      position: relative;
    }

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    div {
      width: 100%;
    }

    h1 {
      margin-top: 0;
    }

    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }

    .hero-image {
      opacity: 0.5021;
    }
  }

  /* Mobile */
  @media (max-width: 30rem) {
    h2 {
      margin-top: 16px;
      font-size: 3.6rem;
    }
  }
</style>

<style is:global>
  .hero-button {
    margin-top: 40px;
    max-width: 16rem;
  }
  .hero-image {
    margin-top: -94px;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    object-fit: cover;
  }

  .fade-in {
    opacity: 0; /* Start fully transparent */
    animation: fadeIn 1.5s ease-in forwards; /* 2s duration, ease-in transition */
  }

  /* Keyframes for the fade-in effect */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Mobile */
  @media (max-width: 30rem) {
    .hero-button {
      margin-top: 28px;
    }
  }
</style>
