---
import Button from "../shared/Button.astro";
import { Image } from "astro:assets";
import headphones from "../../assets/home/headphones.svg";
---

<section class="flex fade-in">
  <article class="color-p-w">
    <h1 class="font-s-14 font-ls-10">New Product</h1>
    <h2 class="font-s-56 bold font-lh-58 font-ls-2 m-t-24">
      XX99 Mark II Headphones
    </h2>
    <p class="font-s-15 font-lh-25 m-t-24">
      Experience natural, lifelike audio and exceptional build quality made for
      the passionate music enthusiast.
    </p>
    <Button background="hero-button bg-c" text="SEE PRODUCT" />
  </article>
  <Image id="mySvg" src={headphones} alt="headphones" class="hero-image" />
</section>

<style>
  h1 {
    opacity: 0.4964;
    margin-top: 128px;
  }
  p {
    opacity: 0.75;
  }
</style>

<style is:global>
  .hero-button {
    margin-top: 40px;
  }
  .hero-image {
    margin-top: -94px;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    object-fit: cover;
  }

  .fade-in {
    opacity: 0; /* Start fully transparent */
    animation: fadeIn 1.5s ease-in forwards; /* 2s duration, ease-in transition */
  }

  /* Keyframes for the fade-in effect */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
