---
import Button from "../shared/Button.astro";
---

<section class="flex">
  <article class="w-100 border-r-8"></article>
  <article class="w-100 border-r-8 bg-s-g">
    <div>
      <h2 class="color-b font-s-28 bold font-ls-2">YX1 EARPHONES</h2>
      <Button
        background="bg-trans m-t-32"
        textColor="color-b"
        text="SEE PRODUCT"
        border="border-1-b"
      />
    </div>
  </article>
</section>

<style>
  section {
    margin-top: 50px;
    gap: 32px;
    height: 320px;
  }
  article:nth-of-type(1) {
    background-image: url("/src/assets/home/yx1-earphones-home.svg");
    background-position: center;
  }
  article:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Tablet */
  @media (max-width: 58.25rem) {
    section {
      margin-top: 30px;
      gap: 10px;
    }
    article:nth-of-type(1) {
      background-image: url("/src/assets/home/yx1-earphones-home-tablet.svg");
      background-size: cover;
    }
  }

  /*Mobile*/
  @media (max-width: 30rem) {
    section {
      margin-top: 24px;
      gap: 24px;
      flex-direction: column;
      height: 100%;
    }
    article {
      height: 200px;
    }
    article:nth-of-type(2) {
      justify-content: flex-start;
      padding-left: 7.34%;
    }
  }
</style>
