---
import Button from "../shared/Button.astro";
---

<section class="flex align-c border-r-8">
  <div>
    <h2 class="color-b font-s-28 font-ls-2 bold">ZX7 SPEAKER</h2>
    <Button
      id="zx7-button"
      background="bg-trans m-t-32"
      text="SEE PRODUCT"
      textColor="color-b"
      border="border-1-b"
    />
  </div>
</section>

<style>
  section {
    margin-top: 50px;
    padding-left: 8.64%;
    height: 32rem;
    background: url("/src/assets/home/zx7-speaker-home.svg");
    background-position: center;
    background-size: cover;
  }

  /* Tablet */
  @media (max-width: 58.25rem) {
    section {
      margin-top: 30px;
      background: url("/src/assets/home/zx7-speaker-home-tablet.svg");
      background-size: cover;
      background-position: center;
    }
  }

  /* Mobile */
  @media (max-width: 30rem) {
    section {
      margin-top: 24px;
    }
  }
</style>

<script>
  const button = document.getElementById("zx7-button");

  button?.addEventListener("click", () => {
    window.location.href = "/speakers/zx7-speaker";
  });
</script>
