---
import { Image } from "astro:assets";
import ZX7SpeakerImage from "../../assets/home/zx7-speaker-home.svg";
import Button from "../shared/Button.astro";
interface Props {
  className: string;
}
const { className } = Astro.props;
---

<section class=`outline border-r-8 ${className}`>
  <div>
    <h2 class="color-b font-s-28 font-ls-2 bold">ZX7 SPEAKER</h2>
    <Button
      background="bg-trans m-t-32"
      text="SEE PRODUCT"
      textColor="color-b"
      border="border-1-b"
    />
  </div>
</section>

<style>
  section {
    padding-top: 101px;
    padding-bottom: 101px;
    padding-left: 95px;
    padding-right: 95px;
    height: 320px;
    background: url("/src/assets/home/zx7-speaker-home.svg");
  }
</style>
