---
import { Image } from "astro:assets";
import SpeakerImage from "../../assets/home/zx9-speaker-home.svg";
import Button from "../shared/Button.astro";
---

<section class="bg-c border-r-8 flex">
  <Image class="speaker-image" src={SpeakerImage} alt="speaker-image" />
  <article>
    <h2 class="color-p-w font-s-56 bold font-lh-59 font-ls-2">ZX9 SPEAKER</h2>
    <p class="color-p-w font-s-15 font-lh-25">
      Upgrade to premium speakers that are <br />phenomenally built to deliver
      truly remarkable sound.
    </p>
    <Button
      id="zx9-button"
      background="bg-j-b speakerhome-button"
      text="SEE PRODUCT"
    />
  </article>
</section>

<style>
  section {
    margin-top: 168px;
    height: 56rem;
    background-image: url("../../assets/home/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: -150px 40px;
    justify-content: space-around;
  }

  h2 {
    margin-top: 133px;
  }

  p {
    margin-top: 24px;
    opacity: 0.75;
  }

  .speaker-image {
    margin-top: 96px;
  }

  /* Tablet */

  @media (max-width: 72rem) {
    section {
      margin-top: 96px;
      gap: 64px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 72rem;
      background-position: -150px -300px;
    }

    .speaker-image {
      width: 197px;
      margin-top: 0px;
      height: auto;
    }

    article {
      text-align: center;
    }

    h2 {
      margin-top: 0px;
      white-space: normal;
      word-spacing: 100vw;
    }
  }

  /* Mobile */
  @media (max-width: 30rem) {
    section {
      margin-top: 120px;
      height: 60rem;
      background-size: cover;
      background-position: center;
      background-position-y: -140px;
      gap: 32px;
    }

    .speaker-image {
      width: 172px;
    }

    h2 {
      font-size: 3.6rem;
    }
  }
</style>

<style is:global>
  .speakerhome-button {
    margin-top: 40px;
  }

  /*Mobile*/
  @media (max-width: 30rem) {
    .speakerhome-button {
      margin-top: 24px;
    }
  }
</style>

<script>
  const button = document.getElementById("zx9-button");

  button?.addEventListener("click", () => {
    window.location.href = "/speakers/zx9-speaker";
  });
</script>
