---
/* Background Component
  This component wraps components to ensure consistent padding on the left and right across all components
  By centralizing padding in this component, it helps maintain a uniform layout and spacing throughout the app.

  Props:
  - className (string): allows parent component to specify background color and padding, margin etc.
*/

interface Props {
  className: string;
}
const { className } = Astro.props;
---

<div class=`background ${className}`>
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .background {
    padding-left: 11.81%;
    padding-right: 11.81%;
    width: 100%;
  }
  .content {
    width: 100%;
    max-width: 110rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* Tablet */
  @media (max-width: 58.25rem) {
    .background {
      padding-left: 5.21%;
      padding-right: 5.21%;
    }
  }

  /* Mobile */
  @media (max-width: 30rem) {
    .background {
      padding-left: 6.4%;
      padding-right: 6.4%;
    }
  }
</style>
