---
interface Props {
  className: string;
}
const { className } = Astro.props;
---

<div class=`outter ${className}`>
  <div class="inner">
    <slot />
  </div>
</div>

<style>
  .outter {
    padding-left: 11.81%;
    padding-right: 11.81%;
    width: 100%;
  }
  .inner {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Tablet */
  @media (max-width: 58.25rem) {
    .outter {
      padding-left: 5.21%;
      padding-right: 5.21%;
    }
  }

  /* Mobile */
  @media (max-width: 30rem) {
    .outter {
      padding-left: 6.4%;
      padding-right: 6.4%;
    }
  }
</style>
